# Virtual Environment
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Environment Variables
.env
.env.local
.env.*.local

# Database / Local Files
*.sqlite3
*.db

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/